.panel
  .panel-body
    = link_to '#new_game', class: 'btn btn-xs btn-danger', data: {target: '#new_game', toggle: 'modal'} do
      %i.fa.fa-game
      = t('helpers.new_game')
    \&nbsp;&nbsp;
    = link_to t('helpers.set_player'), players_board_path, class: "btn btn-info btn-xs"
    -# .pull-right
      -# %a.btn.btn-info.btn-xs{href: '#'}= t('helpers.game_mode')
.panel
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-bars
      = @board.title
    .panel-heading-controls
      -# = will_paginate @records, class: "pagination-xs", renderer: BootstrapPagination::Rails, previous_label: '«', next_label: '»'
    / / .panel-heading-controls
  / / .panel-heading
  %table.table.table-hover
    %thead
      %tr
        %th.col-md-1
        - @bps.each do |bp|
          %th.text-center
            = board_player_name(bp)
            (
            %span{class: @score_sum[bp.id] > 0 ? 'win-score': ''}= @score_sum[bp.id]
            )
    %tbody.valign-middle
      - all_records = recored_transform(@bps, @records)
      - all_records.each_with_index do |records, rindex|
        %tr
          - records.each_with_index do |record, index|
            - if index == 0
              %td.text-center
                %span{data: {toggle: "tooltip", placement: "bottom", "original-title"=> l(record, format: :ymds)}}
                  = "##{all_records.size - rindex}"
            - else
              %td.text-center{class: record > 0 ? 'win-score': ''}= record

#new_game.modal.fade{:role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog{ style: "z-index: 1060;"}
    .modal-content
      = form_for @new_game, url:create_game_board_path do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('helpers.new_game')
        .modal-body
          - @bps.each do |bp|
            = label_tag board_player_name(bp), nil, class: 'control-label'
            = select_tag 'scores[]', options_from_wager(@board.wager), {class: 'form-control'}
            = hidden_field_tag 'board_players[]', bp.id
            %br/
        .modal-footer
          = f.submit t('helpers.cancel'), class: 'btn btn-default btn-flat', data: {dismiss: 'modal'}
          = f.submit t('helpers.clearing'), class: 'btn btn-success btn-flat'

#edit_game.modal.fade{:role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog{ style: "z-index: 1060;"}
    .modal-content
      = form_for @new_game, url:update_game_board_path do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('helpers.edit_game')
        .modal-body
          - @bps.each do |bp|
            = label_tag board_player_name(bp), nil, class: 'control-label'
            = select_tag 'scores[]', options_from_wager(@board.wager), {class: 'form-control'}
            = hidden_field_tag 'board_players[]', bp.id
            %br/
        .modal-footer
          = f.submit t('helpers.cancel'), class: 'btn btn-default btn-flat', data: {dismiss: 'modal'}
          = f.submit t('helpers.clearing'), class: 'btn btn-success btn-flat'